arxiv
bs4
chromadb
faiss-cpu
ipykernel
langchain
langchain-chroma
langchain-community
langchain-huggingface
langchain-openai
langgraph
numpy
ollama
pandas
pymupdf
pypdf
python-dotenv
sentence-transformers
streamlit